# Data manipulation
pandas>=2.0
numpy>=1.24

# Visualization
matplotlib>=3.7
seaborn>=0.12

# Modeling & ML
scikit-learn>=1.2
statsmodels>=0.14

# Notebook support
jupyterlab>=4.0

# Linting & testing
pytest>=7.2
flake8>=6.0

# CI/CD & packaging
setuptools>=68.0
wheel>=0.41

# Cloud (si tu veux interagir avec Azure par la suite)
azure-storage-blob>=12.19
